@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Open+Sans:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
}

.space {
  margin: 20px 0px;
}

.App {
  height: 100vh;
}
.header {
  text-align: center;
  background-color: dodgerblue;
  padding: 10px 0px;
  color: white;
  font-size: 20px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.add-expense {
  display: flex;
  justify-content: center;
  background-color: rgba(245, 245, 245, 0.8);
  padding: 40px 20px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.11);
}

.expense-amount {
  padding: 3px 8px;
  width: 10%;
  border: none;
  border: 2px solid green;
  border-radius: 10px;
  padding: 10px;
}
.expense-input {
  padding: 3px 8px;
  margin: 0px 10px;
  width: 40%;
  border: 2px solid green;
  border-radius: 10px;
  padding: 10px;
}

.expense-select {
  padding: 3px 8px;
  margin: 0px 10px;
  width: 20%;
  border: 2px solid green;
  border-radius: 10px;
  padding: 10px;
}

.expense-amount:focus,
.expense-input:focus {
  outline: none;
}

.expense-amount.invalid {
  border: none;
  border: 2px solid red;
  background-color: rgb(251, 185, 185);
}

.expense-input.invalid {
  border-color: red;
  background-color: rgb(251, 185, 185);
}

.expense-button {
  padding: 4px 6px;
  border: none;
  border-radius: 6px;
  background-color: #0d9a06;
  color: white;
  padding: 10px;
}

.expense-button:hover {
  background-color: #0eae06;
}

.expense-button:hover {
  cursor: pointer;
}

.balance {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}

.expense {
  margin: 10px;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 2px solid red;
  -webkit-box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.21);
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.21);
}

.expense-income {
  margin: 10px;
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-left: 2px solid rgb(43, 142, 0);
  -webkit-box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.21);
  box-shadow: 5px 5px 15px 2px rgba(0, 0, 0, 0.21);
}

.expense:hover {
  cursor: pointer;
  font-weight: bold;
  border-left: 3px solid red;
}

.expense-income:hover {
  cursor: pointer;
  font-weight: bold;
  border-left: 3px solid rgb(43, 142, 0);
}

.remove:hover {
  cursor: pointer;
}

.footer {
  margin-top: 2rem;
  width: 100vw;
  bottom: 0;
  text-align: center;
}

.critical {
  color: red;
}

.revenue {
  color: rgb(43, 142, 0);
}
